@media screen and (max-width : 767px) {


}

body{
  margin: 0;
}
#content>div>div{
  display: flex;
}

.alba_1{
  margin: 20px;
}

.alba{
  display: flex;
}

/* 알바광고 사진  */
.alba_1>div:nth-child(1)>div {

  background-color: aqua;
  border: 1px solid black;
  width: 96px;
  height: 96px;

}

/* 알바광고 제목, 주소, 월급 */
.alba_1>div:nth-child(2)>div{

  display: flex;

  
}

#ad{
  display: flex;
  align-items: center;
  justify-items: center;
}
#ad>div{
  border: 1px solid black;
  width: 100vw;
  height: 10vh;
}
